// Use this project http://chir.ag/projects/name-that-color for naming color variables.
$white: #FFFFFF;
$marzipan: #F8E9A1;
$carnation: #F76C6C;
$regent-street-blue: #A8D0E6;
$chambray: #374785;
$cloud-burst: #24305E;
