.l-section {
  width: calc(100% - 40px);
  padding: 20px;

  &--intro {
    background: $regent-street-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100vh - 40px);
  }

  &--about {
    background: $marzipan;
  }

  &--work {
    background: $regent-street-blue;
    padding-bottom: 110px;
  }

  &--footer {
    background: $carnation;
    overflow: auto;
    position: fixed;
    bottom: 0;
    z-index: 999999;
  }

  &__content {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.l-heading {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.l-columns {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;

  &__column {
    flex-basis: 100%;
    width: 100%;

    @include media(800px) {
      flex-basis: calc(50% - 10px);
    }

    &--left {
      @include media(800px) {
        margin-right: 10px;
      }
    }

    &--right {
      @include media(800px) {
        margin-left: 10px;
      }
    }
  }
}
