.c-hero-text {
  background: $carnation;
  color: $white;
  font-size: 30px;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  position: relative;
  z-index: 999;

  @include media(800px) {
    font-size: 48px;
  }

  &--alt {
    background: $cloud-burst;
  }

  &--sml {
    font-size: 28px;
  }

  &--tiny {
    font-size: 12px;
    font-weight: normal;
    padding: 6px;
  }

  span {
    color: $marzipan;
  }
}
